body {
  background: whitesmoke;
  color: darkgreen;
  padding:  0;
  justify-content: center;
  
}

button {
  background: yellowgreen;
  padding: 10px 16px;
  border-radius: 4px;
  border: 1px solid black;
  cursor: pointer;
}

ol {
  
}
